@media only screen and (max-width: 1023px) {
    .menu-lateral, .player_volume , .player_temporizador-cronometro span, .player_temporizador-botoes button,
    .rodape,
    .cabecalho__botao,
    .secao-horizontal .cartao__subtitulo,
    .secao-horizontal .cartao__botao,
    .secao-horizontal .cartao__player,
    .secao-vertical .secao__link{
        display: none;
    }
    footer{
        margin-bottom: 6vh;
    }
    .container {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .navbar {
        display: block;
    }   
    .cabecalho{
        justify-self: center;
    }
    .secao-horizontal .cartao__imagem {
        height: 4.58rem;
    }
    .secao-horizontal .cartao {
        column-gap: .5rem;
    }
    
 
    .secao-horizontal .cartao__titulo {
        font: 700 14px/20px Open Sans, sans-serif;
        align-self: center;
    }

    .secao-vertical .cartao {
        background-color: transparent;
        padding: 0;
    }
    .secao-player{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    } 
    .player_descricao{
        max-width: 45vw;
        white-space: nowrap;
    }
    .player_temporizador{
        flex-direction: row;
        justify-content: flex-end;
        flex-wrap: wrap;
        flex-grow: 1;
    }
    .player_temporizador-botoes{
        display: flex;
        flex-wrap: nowrap;
        
        
    }
    .player_temporizador-botoes .play{
        display: flex;
        flex-wrap: nowrap;
        
    }
    .player_temporizador-cronometro{
        min-width: 94vw;
        margin-left: .2rem;
        margin-right: .4rem;
        margin-top: .9rem;
        flex-grow: 0.2;
        flex-wrap: nowrap;
    }
    
}

/* TABLET */

@media only screen and (min-width: 1024px) and (max-width: 1399px) {

    .container {
        padding-left: 1.25rem;
        padding-right: 1.25rem;
    }
   
    .cabecalho .cabecalho__logo,
    .cabecalho__botao__avancar {
        display: none;
    }

    .navbar {
        display: none;
    }
    .menu-lateral{
        width: 208px;
    }
    .secao-horizontal .cartao__imagem {
        height: 73px;
    }

    .secao-horizontal .cartao__titulo {
        font: 700 16px/22px 'Open Sans', sans-serif;
    }

    .secao-horizontal .cartao__subtitulo {
        font: 400 14px/19px 'Open Sans', sans-serif;
        width: 100%;
    }

    .secao-vertical .cartao {
        padding: 1.25rem;
    }

}

@media only screen and (min-width: 1400px) {

    .navbar,
    .cabecalho__logo {
        display: none;
    }
    .menu-lateral{
        width: 228px;
    }
}
