button {
    background: transparent;
    border: none;
    color: inherit;
    padding: 0rem;
    font-size: inherit;
    cursor: pointer;
}
footer{
    
    background-color: #042450;
}
.secao-player{
    display: grid;
    row-gap: 2rem;
    grid-template-columns: 0.3fr auto 0.3fr;
    padding: 2%;
}
.player_temporizador{
    display: flex;
    flex-direction: column;
    justify-self: center;
    width: 50vw;
}
.player_descricao{
    display: grid;
    grid-template-areas: "ima 2"
    "ima 3";
    align-self: center;
    gap: .5rem;

}
.player_descricao img{
    grid-area: ima;
    object-fit: scale-down;
}
.player_temporizador-botoes{
    display: grid;
    grid-template-columns: repeat(5, 5rem);
    align-items: center;
    height: fit-content;
    width: max-content;
    align-self: center;
}
.player_temporizador-cronometro{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: .5rem;
}
.player_temporizador-cronometro_tempo{
    justify-self: center;
    width: 100%;
    background-color: white;
    border-radius: .5rem;
    height: 0.25rem;
    margin-top: .35rem;
}
.player_volume{
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 10vw;
    align-self: center;
    align-items: center;
}
.player_volume button{
    height: fit-content;
}

.player_volume_nivel {
    width: 15vw;
    height: 0.25rem;
    background: white;
    border-radius: .5rem;
}