body{
font-family: "Jura", sans-serif;
background: linear-gradient(180deg, #154580 0%, #041833 100%);
color: white;
height: 100vh;
width: 100vw;
}

h2{
  font-size: x-large;
  margin-top: 30px;
}
p{
  margin: 10px;
}
img{
  margin-top: 30px;
  width: 140px;
  height: 140px;
  background: lightblue
}

.titulo {
  position: absolute;
  top: 30px;
  left: 180px;
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline 3px;
  text-underline-offset: 25px;
}
.foto__comparativa{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}
.fotos__propriedade{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
}
.fotos__container{
  width: 100%;
  max-width: 1250px;   
  position: absolute;
  left: 176px;
  top: 150px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  background: #525c63d8;
  flex-wrap: nowrap;
  justify-content: space-between;
  flex-direction: row;
}

.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}

