body{
font-family: "Jura", sans-serif;
background: linear-gradient(180deg, #154580 0%, #041833 100%);
color: white;
height: 200vh;
width: 200vw;
}

h2{
  font-size: x-large;
  justify-self: center;
  margin: 10px;
}

p{
  margin: 10px;
  min-width: 15px;
}

img{
  width: 140px;
  height: 140px;
  background: lightblue;
  margin-top: 20px;
}

.titulo {
  position: absolute;
  top: 30px;
  left: 180px;
  font-size: 34px;
  font-weight: bold;
  text-decoration: underline 3px;
  text-underline-offset: 25px;
}
.foto__comparativa{
  display: flex;
  flex-direction: column;
  flex-basis: calc(10% - 150px);
  padding: 10px;
  flex-grow: 5;
}
.fotos__propriedade{
  display: flex;
  flex-direction: column;
  flex-basis: calc(80% - 1px);
  padding: 10px;
  flex-shrink: 5;
}
.fotos__container{
  width: 100%;
  max-width: 1250px;
  position: absolute;
  left: 176px;
  top: 150px;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  background: #525c63d8;
  flex-wrap: wrap;
  flex-direction: row;
}

.fill {object-fit: fill;}
.contain {object-fit: contain;}
.cover {object-fit: cover;}
.scale-down {object-fit: scale-down;}
.none {object-fit: none;}

