body {
    display: grid;
    grid-template-areas: "menu menu menu menu"
        "main main main main"
        "footer footer footer footer";
    gap: 2rem;
}

header {
    grid-area: menu;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "curso artigo";
    justify-content: space-evenly;
    
}

ul {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: nowrap;
    background-color: #39BEFA;
    border-radius: 1rem;
    margin-top: 0.3rem;
}

ul,
li {
    padding: .3rem;
}
    
.artigos {
    grid-area: artigo;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

.cursos {
    grid-area: curso;
}

.artigos {
    grid-area: artigo;
}

.rodape__container {
    grid-area: footer;
}
p {
    padding-left: 1rem; 
}