body {
    display: grid;
    grid-template-areas: "menu menu menu menu"
        "main main main main"
        "footer footer footer footer";
    gap: 2rem;
}

header {
    grid-area: menu;
}

main {
    grid-area: main;
    display: grid;
    grid-template-areas: "curso artigo";
    justify-content: space-evenly;
    
}

ul,
li {
    padding: .3rem;
}
p img{
    width: 20%;
    height: 20%;
}
p {
    padding: 0.9rem; 
  
}

span{
    display: flex;
    padding: 0;
    padding-left: 4rem;
}
ul {
    background-color: #39BEFA;
    border-radius: 0.5rem;
    margin-top: 0.8rem;   
}
li{
    display: flex;
    flex-direction: row;
    gap: .3rem;
    flex-wrap: wrap;

}

    
.artigos {
    grid-area: artigo;
    display: flex;
    flex-direction: column;
    justify-content: start;

}

.cursos {
    grid-area: curso;
}

.artigos {
    grid-area: artigo;
    
}

.rodape__container {
    grid-area: footer;
}
.desafios{
    
}